/* Chargement */

#chargement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#simple-text,
#class-text {

    left: 50%;

    font-family: "Lexend Deca", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 5rem;

    opacity: 0;
    transition: opacity 1s ease-in-out;

}


/* Navigation */

nav {
    display: contents;
}

nav div {

    margin-left: 5%;
    font-family: "Lexend Deca", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 3rem;

}

nav div:first-child {
    margin-top: 40vh;
}

nav div:nth-child(1):hover {
    color: lightcoral;
}

nav div:nth-child(2):hover {
    color: lightslategray;
}

nav div:nth-child(3):hover {
    color: lightseagreen;
}

/* Général */

body {
    background-color: white;
    color: #0D0D0D;
}

.dark-mode {
    background-color: #212121;
    color: #ECECEC;
}

input{
    position: absolute;

    margin-left: 5%;
    bottom: 5%;

    z-index: auto;
    border: 5 solid #212121;
    border-radius: 5px;
    padding: 1rem;


}

input:hover{
    background-color: #212121;
    color: #ECECEC ;
    border-color: #ECECEC;
}